nav .navbar-brand {
  font-size: xx-large;
}

main .form-control {
  display: inline-block;
  width: auto;
}

main {
  overflow-x: auto;
  text-align: center;
}

main img {
  max-width: 100%;
}

ul {
  padding-left: 0;
  padding-bottom: 0.5rem;
  text-align: left;
}
