nav .navbar-brand {
  font-size: xx-large;
}

main .form-control {
  display: inline-block;
  width: auto;
}

main {
  overflow-x: auto;
  text-align: center;
}

main img {
  max-width: 100%;
}

ul {
  padding-left: 0;
  padding-bottom: 0.5rem;
}

.btn.btn-custom {
  border-radius: 0;
  text-align: left;
}

@media all and (max-width:520px) {
  .btn-custom-mobile {
    width: 100%;
    display: block;
    margin-bottom: 0.25rem;
  }
}
