{% extends "layout.html" %}

{% block title %}Add Task{% endblock %}

{% block main %}
  <h2>Add a Task to <span>{{ list.title }}</span></h2>

  <div class="row justify-content-center">
    <div class="col-lg-8">
      <form action="{{ url_for('add', list_id=list.id) }}" method="post">
        <div class="input-group mb-2">
          <input class="form-control" type="text" name="task" placeholder="Task" autocomplete="off" autofocus>
        </div>
        <button class="btn btn-primary" type="submit">Add Task</button>
      </form>
    </div>
  </div>
{% endblock %}
