{% extends "layout.html" %}

{% block javascript %}
  <script>
    let count = 0;

    document.addEventListener('DOMContentLoaded', function () {
      // disable add button
      document.querySelector('#add').disabled = true;
      // loop through ordered list to count the goals
      document.querySelectorAll('.task-list').forEach(function(li) {
        count++;
        console.log(count);
      });
      // enable submit button when text is entered and goals are less than 25
      document.querySelector('#task').onkeyup = function () {
        if (document.querySelector('#task').value.length > 0 && count < 10)
          document.querySelector('#add').disabled = false;
        else
          document.querySelector('#add').disabled = true;
      };
    });
  </script>
{% endblock %}

{% block title %}Create List{% endblock %}

{% block main %}
  <h2>Create a Task List</h2>

  <form action="{{ url_for('create') }}" method="post">
    <input id="task" type="text" name="task" placeholder="Enter a Task Here" autocomplete="off" autofocus>
    <button id="add" onclick="count()">Add Task</button>
  </form>

  <ol id="tasks">
    {% for task in tasks %}
      <li class="task-list">{{ task.name }}</li>
    {% endfor %}
  </ol>

  <a href="{{ url_for('focus') }}">Next</a>
{% endblock %}
