{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
  <h1>Your Lists</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Date Created</th>
        </tr>
      </thead>
      <tbody>
        {% for list in lists %}
          <tr>
            <td><a href="{{ url_for('tasks', list_id=list.id) }}">{{ list.title }}</a></td>
            <td>{{ list.created }}</td>
          </tr>
        {% else %}
          <tr>
            <td colspan="2">You have not created any task lists yet!</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
