{% extends "layout.html" %}

{% block title %}Tasks{% endblock %}

{% block main %}
    <h1>Task Master - Focus Edition</h1>
    <ul>
      {% for task in tasks %}
        <li>{{ task.name }}</li>
      {% endfor %}
    </ul>

    <h1>Distractions</h1>
    <ul>
      {% for distraction in distractions %}
        <li>{{ distraction.name }}</li>
      {% endfor %}
    </ul>

    <h1>Distractions</h1>
    <ul>
      {% for complete in completed %}
        <li>{{ complete.name }}</li>
      {% endfor %}
    </ul>
{% endblock %}
