{% extends "layout.html" %}

{% block title %}Tasks{% endblock %}

{% block main %}
  <h1>{{ title.title }}</h1>
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <form action="" method="post">
        <ul class="list-group checked-list-box">
          {% for task in focus %}
            <li class="list-group-item list-group-item-success">
              <input type="checkbox" name="task" value="{{ task.name }}">{{ task.name }}
            </li>
          {% endfor %}
          {% for task in distractions %}
            <li class="list-group-item list-group-item-danger">
              <input type="checkbox" name="task" value="{{ task.name }}">{{ task.name }}
            </li>
          {% endfor %}
          {% for task in completed %}
            <li class="list-group-item list-group-item-light">
              <input type="checkbox" name="task" value="{{ task.name }}"><strike>{{ task.name }}</strike>
            </li>
          {% endfor %}
        </ul>
        <button type="submit" class="btn btn-success btn-md" formaction="{{ url_for('focus', list_id=list_id) }}">
          Prioritize
        </button>
        <button type="submit" class="btn btn-primary btn-md" formaction="{{ url_for('complete', list_id=list_id) }}">
          Complete
        </button>
        <button type="submit" class="btn btn-secondary btn-md" formaction="{{ url_for('delete_task', list_id=list_id) }}">
          Delete
        </button>
        <button type="submit" class="btn btn-warning btn-md" formaction="{{ url_for('focus', list_id=list_id) }}" onclick="return confirm('Are you absolutely sure?')">
          Delete List
        </button>
      </form>
    </div>
  </div>
{% endblock %}
