{% extends "layout.html" %}

{% block title %}Tasks{% endblock %}

{% block main %}
  <h1>{{ title.title }}</h1>
  <h3>Focus</h3>
  <ul>
    {% for task in focus %}
      <li><strong>{{ task.name }}</strong></li>
    {% endfor %}
  </ul>

  <h3>Distractions</h3>
  <ul>
    {% for task in distractions %}
      <li><em>{{ task.name }}</em></li>
    {% endfor %}
  </ul>

  <h3>Completed</h3>
  <ul>
    {% for task in completed %}
      <li><strike>{{ task.name }}</strike></li>
    {% endfor %}
  </ul>
{% endblock %}
